<!DOCTYPE HTML>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>rent project</title>

    <link href="css/styles.css" type="text/css" rel="stylesheet">

    <script src="js/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>

    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/iestyles.css" type="text/css">
        <script src="js/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

</head>

<body>

<!--[if lt IE 6]>
<p>
    К сожалению, наш сайт не совместим с вашим браузером. Пожалуйста, обновите его до любой другой версии. <br>
    К примеру, <a href="http://www.google.ru/chrome">Google Chrome</a> или можете попробовать <a href="http://browsers.yandex.ru">что-то другое</a>.
</p>
<![endif]-->

<section class="layout">

    <header class="optimized">

        <a class="logo clear" href="#" title="На главную!"><img src="img/logo.png" alt="#"/></a>
        <span class="slogan">Посуточная аренда и аренда на долгий срок</span> <br/>
        <a class="m-menu_create" href="#">Создать объявление</a>

    </header>

    <section class="content home">

        <ul class="m-menu">
            <li class="m-menu_block">
                <a href="#">
                    <i class="m-menu-icons__rooms"></i><br/>
                    <span class="m-menu_headline">Комнаты</span>
                </a><br/>
            </li>
            <li class="m-menu_block">
                <a href="#">
                    <i class="m-menu-icons__appartaments"></i><br/>
                    <span class="m-menu_headline">Квартры</span>
                </a><br/>
            </li>
            <li class="m-menu_block">
                <a href="#">
                    <i class="m-menu-icons__house"></i><br/>
                    <span class="m-menu_headline">Дома</span>
                </a><br/>
            </li>
            <li class="m-menu_block">
                <a href="#">
                    <i class="m-menu-icons__shop"></i><br/>
                    <span class="m-menu_headline">Коммерческая недвижимость</span>
                </a><br/>
            </li>
        </ul>

    </section><!--// .content -->

    <footer>
        &copy; 2013 Аренда жилья: долгосрочная и посуточная <br/>
        Комнтаы, квартиры, дома, гостиницы
    </footer>

</section><!--/ End layout -->
<script type="text/javascript">
    jQuery(document).ready(function(){
//        alert(1);
    });
</script>
</body>
</html>
